@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg-color: white;
  --text-color: black;
}

.dark {
  --bg-color: black;
  --text-color: white;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
}
.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: blue;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1540px;
  margin-inline: auto;
  padding-inline: 40px;
  @media (max-width: 500px) {
    padding-inline: 20px;
  }
}
